@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: medium;
}

body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.navB ul {
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(120deg, #48a1a7, #9ca754);
}

.navB li {
    margin: 1px;
    float: left;
}

.navB li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navB li a:hover {
    background-color: rgb(17, 17, 17);
}